{% extends 'layouts/nav.html' %}

{% block content %}
<div class="about">
    <h1>IsDoned</h1>
    <p>IsDoned es una aplicación web que te permite llevar un control de tus tareas pendientes y completadas.</p>
    <p>Con IsDoned podrás:</p>
    <ul>
        <li>Crear tareas</li>
        <li>Marcar tareas como completadas</li>
        <li>Eliminar tareas</li>
    </ul>
    <p>¡Regístrate y comienza a organizar tus tareas!</p>
</div>
<div class="info">
    <h2>¿Cómo funciona?</h2>
    <p>Para comenzar a utilizar IsDoned, sigue los siguientes pasos:</p>
    <ol>
        <li>Regístrate en la aplicación</li>
        <li>Inicia sesión</li>
        <li>Crea una tarea</li>
        <li>Marca la tarea como completada</li>
        <li>Elimina la tarea</li>
    </ol>
    <p>¡Así de fácil!</p>
</div>
{% endblock %}